/* css reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   vertical-align: baseline;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#new_event_div input[type=text] {
  width: 200px;
}

div#user_navigation {
  width: 100%;
  height: 24px;
  -moz-box-shadow: 0px 2px 3px #3366cc; 
  -webkit-box-shadow: 0px 2px 3px #3366cc;
  box-shadow: 0px 2px 3px #3366cc;
  margin-bottom: 22px;
}

#user_navigation ul {
  list-style-type: none;
  display: block;
}

#user_navigation ul li {
  font-size: 14px;
  margin: 5px;
}

#user_navigation > ul > li > a.active {
  position: relative;
  background: #ffffff;
  -moz-border-radius-topleft: 4px; 
  -moz-border-radius-topright: 4px; 
  -webkit-border-radius-topleft: 4px; 
  -webkit-border-radius-topright: 4px; 
  border-radius-topleft: 4px;
  border-radius-topright: 4px;
  border-top: 1px solid #3366cc;
  border-left: 1px solid #3366cc;
  border-right: 1px solid #3366cc;
  z-index: 90;
}

#user_navigation ul.left > li {
  float: left;
}

#user_navigation ul.right > li {
  float: right;
}

#user_navigation ul li a {
  padding: 3px;
  text-decoration: none;
}

div#calendars {
  clear: both;
  float: none;
  position: absolute;
  z-index: 80;
  background: #ffffff;
  border: 1px solid #3366cc;
  -moz-border-radius-bottomleft: 4px; 
  -moz-border-radius-bottomright: 4px; 
  -moz-border-radius-topright: 4px; 
  -webkit-border-radius-bottomleft: 4px; 
  -webkit-border-radius-bottomright: 4px; 
  -webkit-border-radius-topright: 4px; 
  border-radius-bottomleft: 4px;
  border-radius-bottomright: 4px;
  border-radius-topright: 4px;
  -moz-box-shadow: 3px 3px 4px #333333; 
  -webkit-box-shadow: 3px 3px 4px #333333;
  box-shadow: 3px 3px 4px #333333;
}

div#calendars li a {
  display: block;
}

div#calendars li a:hover {
  background: #3366cc;
  color: #ffffff;
}

.loading_indicator {
  font-weight: bold;
  color: #bbbbbb;
}
