body {
  background: #efefef;
}

#container {
  background: #ffffff;
  font-size: 150%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #dddddd;
}

#user_navigation {
  background: #87b6d9;
}

#calendar {
  background: #ffffff;
}

#user_navigation > ul > li > a, 
#user_navigation > ul > li > a:visited {
  color: #ffffff;
  font-weight: bold;
}

#user_navigation a.active, 
#user_navigation a.active:visited, 
#calendars ul li a {
  color: #000000;
  font-weight: normal;
}

#calendars ul {
  list-style-type: none;
}
