<h1>Kalua</h1>

<p>Welcome to a fresh install of Kalua. You will probably want
to customize this page somewhat.</p>

<p>You can however start right away, so either <br />
  <%= link_to "Register", new_user_registration_path %> a new user, or <br />
  <%= link_to "Login", new_user_session_path %>
</p>
